:root {

    --pssf-hell: #F7E8DE;
    --pssf-rosa: #F6B7B0;
    --pssf-dunkel: #846564;

}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /*background: radial-gradient(circle at 50% 50%, #FF4FA3 0%, #FF8FCC 18%, #fa9ece 45%);*/
    background: radial-gradient(circle at 50% 50%, var(--pssf-dunkel) 0%, #b98e8d 18%, #e2adac 45%);
}

svg {
    max-width: 70vw;
    max-height: 80vh;
    aspect-ratio: 1/1;

    #blobClip {
        transform-origin: center;
        transition: ease-out transform .4s;
    }

    &:hover {
        #blobClip {
            transform: scale(1.15) translate(0%, 0%);
        }

        .text-content {
            fill: var(--pssf-rosa);
            mix-blend-mode: overlay;
        }
    }
}

.text-content {
    font: 700 10px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    fill: var(--pssf-hell);
    mix-blend-mode: normal;
    transition: ease fill .5s;
}

#credit {
	font: 600 10px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
	position: fixed;
	font-size: 14px;
	top: 10px;
	left: 10px;
	padding: 1em;
	color: var(--pssf-dunkel);
	background-color: var(--pssf-hell);
	border-radius: 25px;
	/*cursor: pointer;*/
    cursor: url('./sock.png'), auto;
	a {
		text-decoration: none;
		font-weight: bold;
		color: #333;
		transition: ease all 0.4s;
		&:hover {
			color: #ef5350;
			text-decoration: underline;
		}
	}
	span {
		display: inline-block;
		transition: ease all 0.4s;
		color: pink;
		&:hover {
			transform: scale(1.2);
		}
	}
}